<header class="header" id="js-header">
  <div class="header__container container">
    <a href="#" class="logo">
      <img src="./img/logo.svg" alt="logo">
    </a>

    <nav class="nav" id="js-navMenu">
      <ul>
        <li><a href="#hero">Hero</a></li>
        <li><a href="#scroll-tabs">Scroll & Tabs</a></li>
        <li><a href="#default-slider">Default slider</a></li>
        <li><a href="#modal">Modal</a></li>
        <li><a href="#form-elements">Form elements</a></li>
        <li><a href="">Others</a></li>
      </ul>
    </nav>

    <button type="button" class="btn-burger" id="js-burger">
      <span></span>
    </button>
  </div>
</header>